body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: #ffd0eb;
    background: -webkit-radial-gradient(circle farthest-side at center center, #caa5ce 0%, #ffd0eb 100%);
    background: -moz-radial-gradient(circle farthest-side at center center, #6a4a72 0%, #ffd0eb 100%);
    background: radial-gradient(circle farthest-side at center center, #f8b9f5 0%, #ffd0eb 100%);
    font-family: "Arial";
}
.container {
    background: #c090ab;
    width: 100%;
    max-width: 70em;
    margin: 0 auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    box-sizing: border-box;
  }
  .slider {
    width: 100%;
    height: fit-content;
    margin: 1.5em;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .slider_pichers {
    width: 100%;
    border-radius: 0.5rem;
    animation-iteration-count: 1;
    border-radius: 1rem;
  }