body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: #ffd0eb;
    background: -webkit-radial-gradient(circle farthest-side at center center, #caa5ce 0%, #492e75 100%);
    background: -moz-radial-gradient(circle farthest-side at center center, #6a4a72 0%, #55263a 100%);
    background: radial-gradient(circle farthest-side at center center, #f8b9f5 0%, #6d2a6d 100%);
}
.conteyner {
    overflow: hidden;
    width: 60vw;
    height: 55vh;
    margin: 0 auto;
    padding: 1rem;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.wrapper-top {
    display: flex;
    width: 500%;
    height: 90%;
    
    
}

input {
    width: 0;
}

.imager {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.imgara {
    width: 100%;
}


.imager {
    width: 16%; 
    border-radius: 5px; 
    padding: 2%; 
   }


.wrapper-bottom {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
   

}
.labels {
    display: flex;
    gap: .5em;
}
.label-but {
    border-radius: 100%;
    cursor: pointer;
    padding: 0.6em;
    
}
/* .label-but:hover {
    
} */

.labels-dy {
    height: 1em;
    width: 1em;
    border-radius: 100%;
    background-color: aqua;
}

.text-but {
    display: none;
}

#img_one:checked~.one {
    margin-left: 0%;
  }
  
  #img_two:checked~.one {
    margin-left: -20%;
  }
  
  #img_three:checked~.one {
    margin-left: -40%;
  }
  
  #img_four:checked~.one {
    margin-left: -60%;
  }
  
  #img_five:checked~.one {
    margin-left: -80%;
  }